* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.ConfigurableGrid {
  height: 100%;
  width: 100%;
  display: grid;
  overflow: hidden;
}

.ConfigurableGridItem, .ConfigurableGridItemEditor {
  position: relative;
  transition: grid-row 2s;
}

.ConfigurableGridItemEditor_inner {
  position: absolute;
  background-color: rgba(255,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s;
}
.ConfigurableGridItemEditor_inner:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border: dashed #2a263f 3px;
  content: '';
  box-sizing: border-box;
}

.ConfigurableGridItemEditor_inner:hover, .ConfigurableGridItemEditor_inner-active {
  opacity: 1;
}

.ConfigurableGridItemEditorSizeControl {
  background-color: #FFF;
  border: solid 3px #2a263f;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  box-sizing: content-box;
}

.ConfigurableGridItemEditorSizeControl_topLeft {
  border-bottom-right-radius: 0.5rem;
  top: 0;
  left: 0;
  cursor: nwse-resize;
}

.ConfigurableGridItemEditorSizeControl_top {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: ns-resize;
}

.ConfigurableGridItemEditorSizeControl_topRight {
  border-bottom-left-radius: 0.5rem;
  top: 0;
  right: 0;
  cursor: nesw-resize;
}

.ConfigurableGridItemEditorSizeControl_left {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  cursor: ew-resize;
}

.ConfigurableGridItemEditorSizeControl_center {
  border-radius: 0.5rem;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: move;
}

.ConfigurableGridItemEditorSizeControl_right {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: ew-resize;
}

.ConfigurableGridItemEditorSizeControl_bottomLeft {
  border-top-right-radius: 0.5rem;
  bottom: 0;
  left: 0;
  cursor: nesw-resize;
}

.ConfigurableGridItemEditorSizeControl_bottom {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: ns-resize;
}

.ConfigurableGridItemEditorSizeControl_bottomRight {
  border-top-left-radius: 0.5rem;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}
